
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:contafast.net
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?contafast.net/sincronizador
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:contafast.net

php_value max_execution_time 0